.feynman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #2f80ed;
    text-decoration: none;
    display: flex;
    position: absolute;
    top: 50%;
    right: 48px;
    z-index: 2;
  }

  .feynman__link:hover {
    opacity: 0.4;
    transition: 0.35s;
  }